@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-image: url("/public/img/header-bg.png");
  min-height: calc(100vh - 80px);
  border-radius: 0 120px 0 0;
  background-size: cover;
}

.img-person {
  max-height: calc(100vh - 120px);
}

h1,
h3 {
  font-family: "Rubik";
}

@font-face {
  font-family: "Futura";
  src: url("/public/fonts/FuturaPTBold.otf");
}

@font-face {
  font-family: "FiraLight";
  src: url("/public/fonts/FiraSans-Book.otf");
}

@font-face {
  font-family: "FiraMedium";
  src: url("/public/fonts/FiraSans-Medium.otf");
}

@font-face {
  font-family: "FiraSemiBold";
  src: url("/public/fonts/FiraSans-SemiBold.otf");
}

.futura {
  font-family: "Futura";
}

.rubik {
  font-family: "Rubik";
}

.fira-light {
  font-family: "FiraLight";
}

.fira-medium {
  font-family: "FiraMedium";
}

.fira-semi-bold {
  font-family: "FiraSemiBold";
}

.bg-dialog-button {
  background-image: url("/public/img/about-bg-dialog.svg");
  background-size: contain;
  height: 60px;
  width: fit-content;
  min-width: 200px;
  background-repeat: no-repeat;
  margin: auto;
  text-align: center;
  display: flex;
  cursor: pointer;
}

.testimonies {
  background-image: url("/public/img/testimonies-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 300px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.text-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  /* identical to box height */

  color: #ffffff;
}

.footer {
  display: grid;
  grid-template-columns: 2;
  justify-content: left;
  padding-left: 2rem;
  height: 10rem;
}

.logowa {
  height: 2rem;
}

@media screen and (max-width: 500px) {
  .footer {
    grid-template-columns: 1;
    justify-content: center;
    padding-left: 0rem;
    gap: 0.2rem;
    height: 5rem;
  }
  .logowa {
    height: 1.2rem;
  }
  .text-footer {
    font-size: 14px;
  }
}
